
<div class="container-fluid py-4">
  <div class="mb-3 border-bottom ps-4 pb-2">1 a {{ response?.current}} de {{response?.records}}</div>
  <div class="row">
    <div class="d-flex flex-wrap justify-content-start gap-3 my-4">
      <ng-container *ngFor="let item of response?.results; let i = index">
        <app-product [product]="item"></app-product>
      </ng-container>
    </div>
    <ngb-pagination
      [collectionSize]="response?.records"
      [(page)]="page"
      [maxSize]="response?.pages"
      [pageSize]="response?.current"
      (pageChange)="loadData($event)"
      aria-label="Paginacion por defecto"
    />
  </div>
</div>
